@use 'config/variables';

// ESTILOS GENERALES 


.container{
    // border: 1px solid red;
    margin: 10px;

    @media screen and (min-width:720px){
        margin: 40px;
    }
}


.separator-bar{
    margin: auto;
    width: 90%;
    margin-bottom: 30px;
    border: 2px solid variables.$Light-green;
    border-radius: 10px;
}