@use 'config/variables';

.main__title{
    font-weight: 300;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
    color: variables.$Light-blue;
    text-shadow: 8px -12px 8px variables.$Light-green;
}

.form_search__input{
    display: block;
    margin-bottom: 20px;
    width: auto;
}

.form_search__button{
    margin-bottom: 20px;
    padding: 10px 30px;
    width: auto;
}

// FORMATO DE LA TABLA
.table-container{
    width: 100%;
    overflow-x: scroll;
}


.row__sticky{
    position: sticky !important;
    left: 0 !important;
    background-color: variables.$Black;
    z-index: 10;
    
}

.row__stiky--thead{

    background-color: variables.$BlueNavy-light;
    z-index: 10;
}

.table_results{
    font-size: .8em;
    text-align: center;
    color: variables.$Light-blue;
    background-color: variables.$Black;
    & thead{
        // text-align: center;
        background-color: variables.$BlueNavy-light;

        & tr th{
            padding: 15px;
            border-radius: 5px;
        }
    }

    & tbody {
        & tr:hover{
            opacity: .5;
        }
    }

    &__description{
        color: white;
        text-decoration: none;
    }
    
    @media screen and (min-width:720px){
        font-size: .9em;
        width: 80%;
        
    }
    

}

.table_results__recomended{
    color: variables.$Yellow;
    &:hover{
        cursor: pointer;
    }
}

// ADD PRODUCT PAGE

.form_container{
    display: block;
    border-radius: 8px;
    border: 1px solid white;
    margin: 20px 30px;

    @media screen and (min-width:480px) {
        margin: 20px 50px;
    }

    @media screen and (min-width:720px){
        margin: 20px 60px;
    }
   


    &__image-product{
        display: block;
        margin: 20px auto;
        width: 80%;
        height: 80%;
        background-size: cover;
        border-radius: 8px;

        @media screen and (min-width:480px){
            max-width: 290px;
        
        }
    }
}

// VIEW PRODUCT PAGE
.view_product__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    @media screen and (min-width:720px){
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-right: 10px;
     
    }
}


.view_product__text-container{
    text-align: center;
    font-weight: 700;

    &__text{
        margin: 5px;
    }
    & span{
        font-weight: 400;
        color: variables.$Black;
    }
}

.view_product__container_img--picture{
    border-radius: 8px;
}

.data_container{
    width: 100%;
}


// ADD PRODUCT PAGE
.form_buttons_container{
    @media screen and (min-width:720px){

        display: flex;
        gap: 5px;
        justify-content: center;
    }
}

.form_buttons{
    @media screen and (min-width:720px){
        width: 30%;
    }
}