@use 'config/variables';

.header{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.navbar__list{
    list-style: none;
    
    &__links a{
        
        display: block;
        padding: 5px;
        width: 100%;
        text-decoration: none;
        color: variables.$Light-blue;
        
        &:hover{
            border-left: 5px solid variables.$Light-green;
        }
    }
}

.navbar_link--active{
    border-left: 5px solid variables.$Light-green;
}

.header__user{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    &__avatar{
        border: 3px double variables.$Green;
        width: 65px;
        height: 65px;
        border-radius: 100%;
        background-size: cover;
        
    }
}