@use '../config/variables';


.btn{
    display: block;
    border: none;
    width: 60%;
    padding: 10px;
    margin: 5px auto;
    border-radius: 8px;
    font-size: .9em;
    letter-spacing: 1px;
    
    &-lightBlue{
        background-color: variables.$Light-green;
    }

    &-Red-light{
        background-color: variables.$Red-light;
    }

    &-Yellow{
        background-color: variables.$Yellow;
    }

    &-Blue{
        background-color: variables.$Blue;
    }

    &:hover{
        cursor: pointer;
        opacity: .6;
        // background-color: variables.$Light-blue;
    }

}

