// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

// FONT BODY
$fontBody: 'Roboto', sans-serif;
$fontSize: 16px;

// COLORS

$Yellow: hsl(60, 100%, 50%);
$Light-green: hsl(120, 55%, 65%);
$Green: hsl(120, 100%, 25%);
$Black: hsl(0, 1%, 13%);
$BlueNavy-light: hsl(210, 29%, 24%);
$Light-blue: hsl(204, 8%, 76%);